@media screen and (max-width: 850px) {
    header {
        flex-direction:column;
    }
    main {
        flex-direction:column;
    }
    h2 {
        font-size:32px;       
    }
    form{
        margin:0 auto;
        width: 100%
    }
    input{
        align-self: center;
        width: 60%;
    }
    img{
        margin-top: 10px;
        margin: 0 auto;
        width: 50%;
    }
    ul{
        text-align: center;
    }
    h2{
        text-align: center;  
    }
    .descr{
        margin: 0 auto;
        width: 75%;
        text-align: center;
    }
    .checkbox{
        display:flex;
        justify-content: center;
    }
    .check{
        margin: 0 auto;
        width:30%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:center;
        
    }
    .check p{
        width: 100%;
        margin-left: 0px;
    }
    form [type="submit"]{
        height: 50px;
        width: 30%;
        margin: 20px;
        color: #fff;
        background-color: var(--primary);
        font-weight:bold;
    }
    form [type="submit"]:hover{
        height: 50px;
        width: 30%;
        color: var(--third);
        background-color: var(--primary);
        font-weight:bold;
        cursor: pointer;
    }
    
}
@media screen and (max-width: 380px) {
    img{
        display: none;
    }
    header {
    flex-direction: row;
    }
    
    header h1{
        margin: 10px;
        padding-top: 10px;
    }
    .inscrevase_btn{
        font-size: 12px;
        padding: 2px;
    }
}